{{ define "content" }}
  <div class="devops-bg">
    <img src="/assets/images/kubernetes.png" alt="Kubernetes" class="bg-img bg-img1">
    <img src="/assets/images/docker.png" alt="Docker" class="bg-img bg-img2">
    <img src="/assets/images/gitlab.png" alt="GitLab" class="bg-img bg-img3">
    <img src="/assets/images/ansible.png" alt="Ansible" class="bg-img bg-img4">
    <img src="/assets/images/golang.png" alt="Golang" class="bg-img bg-img5">
    <img src="/assets/images/python.png" alt="Python" class="bg-img bg-img6">
    <img src="/assets/images/argocd.png" alt="ArgoCD" class="bg-img bg-img7">
    <img src="/assets/images/vault.png" alt="Vault" class="bg-img bg-img8">
    <img src="/assets/images/consul.png" alt="Consul" class="bg-img bg-img9">
    <img src="/assets/images/terraform.png" alt="Terraform" class="bg-img bg-img10">
    <img src="/assets/images/clickhouse.png" alt="ClickHouse" class="bg-img bg-img11">
    <img src="/assets/images/elk.png" alt="ELK" class="bg-img bg-img12">
    <img src="/assets/images/prometheus.png" alt="Prometheus" class="bg-img bg-img13">
    <img src="/assets/images/nginx.png" alt="NGINX" class="bg-img bg-img14">
    <img src="/assets/images/kafka.png" alt="Kafka" class="bg-img bg-img15">
    <img src="/assets/images/helm.png" alt="Helm" class="bg-img bg-img16">
    <img src="/assets/images/sentry.png" alt="Sentry" class="bg-img bg-img17">
    <img src="/assets/images/openshift.png" alt="OpenShift" class="bg-img bg-img18">
    <img src="/assets/images/contour.png" alt="Contour" class="bg-img bg-img19">
    <img src="/assets/images/grafana.png" alt="Grafana" class="bg-img bg-img20">
    <img src="/assets/images/github-actions.png" alt="GitHub Actions" class="bg-img bg-img21">
    <img src="/assets/images/haproxy.png" alt="HAProxy" class="bg-img bg-img22">
  </div>

  <section class="intro">
    <div class="intro-text">
      <h1>Welcome to My World.</h1>
      <p>I'm a passionate DevOps engineer who loves automating systems and optimizing workflows as well as solving problems, designing solutions and more importantly, innovative work.</p>
      <a href="mailto:therojinebrahimi@gmail.com" class="cta">Contact Me</a>
    </div>
    <div class="intro-image">
      <img src="/assets/images/rojin.jpg" alt="Rojin's Profile Image">
    </div>
  </section>

  <section class="connect-section">
    <h2>Find Me</h2>
    <div class="connect-icons">
      <a href="https://www.linkedin.com/in/rojinebrahimi" target="_blank" title="LinkedIn">
        <img src="/assets/icons/linkedin.png" alt="LinkedIn" class="social-icon">
      </a>
      <a href="https://github.com/rojinebrahimi" target="_blank" title="GitHub">
        <img src="/assets/icons/github.png" alt="GitHub" class="social-icon">
      </a>
      <a href="https://medium.com/@rojinebrahimi" target="_blank" title="Medium">
        <img src="/assets/icons/medium.png" alt="Medium" class="social-icon">
      </a>
    </div>
  </section>
{{ end }}
