{{ define "content" }}
  <section class="intro">
    <div class="intro-text">
      <h1>Welcome to My World.</h1>
      <p>I'm a passionate DevOps engineer who loves automating systems and optimizing workflows as well as solving problems, designing solutions and more importantly, innovative work.</p>
    </div>
    <div class="intro-image">
      <img src="/assets/images/rojin.jpg" alt="Rojin's Profile Image">
    </div>
    <div>
      <a href="/skills" class="cta">Explore Skills</a>
    </div>
  </section>

  <section class="connect-section">
    <h2>Find Me</h2>
    <div class="connect-icons">
      <a href="https://www.linkedin.com/in/rojinebrahimi" target="_blank" title="LinkedIn">
        <img src="/assets/icons/linkedin.png" alt="LinkedIn" class="social-icon">
      </a>
      <a href="https://github.com/rojinebrahimi" target="_blank" title="GitHub">
        <img src="/assets/icons/github.png" alt="GitHub" class="social-icon">
      </a>
      <a href="https://medium.com/@rojinebrahimi" target="_blank" title="Medium">
        <img src="/assets/icons/medium.png" alt="Medium" class="social-icon">
      </a>
      <a href="mailto:therojinebrahimi@gmail.com" target="_blank" title="E-Mail">
        <img src="/assets/icons/email.png" alt="E-Mail" class="social-icon">
      </a>
    </div>
  </section>
{{ end }}
