{{ define "content" }}
<section class="skills">
  <h2 style="text-align: center;">My Skills</h2>
  <div class="skills-list">
    <!-- Docker -->
    <div class="skill">
      <img src="/assets/images/docker.png" alt="Docker">
      <i class="fab fa-docker"></i>
      <div class="skill-name">Docker</div>
    </div>
    <!-- OpenShift -->
    <div class="skill">
        <img src="/assets/images/openshift.png" alt="OpenShift">
        <i class="fas fa-cogs"></i>
        <div class="skill-name">OpenShift</div>
      </div>
    <!-- Kubernetes -->
    <div class="skill">
      <img src="/assets/images/kubernetes.png" alt="Kubernetes">
      <i class="fab fa-kubernetes"></i>
      <div class="skill-name">Kubernetes</div>
    </div>
    <!-- GKE -->
    <div class="skill">
      <img src="/assets/images/gke.png" alt="GKE">
      <i class="fab fa-kubernetes"></i>
      <div class="skill-name">GKE</div>
    </div>
    <!-- Helm -->
    <div class="skill">
      <img src="/assets/images/helm.png" alt="Helm">
      <i class="fab fa-helm"></i>
      <div class="skill-name">Helm</div>
    </div>
    <!-- Terraform -->
    <div class="skill">
      <img src="/assets/images/terraform.png" alt="Terraform">
      <i class="fab fa-terraform"></i>
      <div class="skill-name">Terraform</div>
    </div>
    <!-- GitLab CI/CD -->
    <div class="skill">
      <img src="/assets/images/gitlab.png" alt="GitLab CI/CD">
      <i class="fab fa-gitlab"></i>
      <div class="skill-name">GitLab CI/CD</div>
    </div>
    <!-- Ansible -->
    <div class="skill">
      <img src="/assets/images/ansible.png" alt="Ansible">
      <i class="fab fa-ansible"></i>
      <div class="skill-name">Ansible</div>
    </div>
    <!-- Golang -->
    <div class="skill">
      <img src="/assets/images/golang.png" alt="Golang">
      <i class="fab fa-golang"></i>
      <div class="skill-name">Golang</div>
    </div>
    <!-- Python -->
    <div class="skill">
      <img src="/assets/images/python.png" alt="Python">
      <i class="fab fa-python"></i>
      <div class="skill-name">Python</div>
    </div>
    <!-- ArgoCD -->
    <div class="skill">
      <img src="/assets/images/argocd.png" alt="ArgoCD">
      <i class="fas fa-cloud"></i>
      <div class="skill-name">ArgoCD</div>
    </div>
    <!-- Vault -->
    <div class="skill">
      <img src="/assets/images/vault.png" alt="Vault">
      <i class="fas fa-lock"></i>
      <div class="skill-name">Vault</div>
    </div>
    <!-- Consul -->
    <div class="skill">
      <img src="/assets/images/consul.png" alt="Consul">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Consul</div>
    </div>
    <!-- Contour -->
    <div class="skill">
      <img src="/assets/images/contour.png" alt="Contour">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Contour</div>
    </div>
    <!-- Nginx -->
    <div class="skill">
      <img src="/assets/images/nginx.png" alt="Nginx">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Nginx</div>
    </div>
    <!-- HAProxy -->
    <div class="skill">
      <img src="/assets/images/haproxy.png" alt="HAProxy">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">HAProxy</div>
    </div>
    <!-- Prometheus -->
    <div class="skill">
      <img src="/assets/images/prometheus.png" alt="Prometheus">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Prometheus</div>
    </div>
    <!-- Grafana -->
    <div class="skill">
      <img src="/assets/images/grafana.png" alt="Grafana">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Grafana</div>
    </div>
    <!-- Sentry -->
    <div class="skill">
      <img src="/assets/images/sentry.png" alt="Sentry">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Sentry</div>
    </div>
    <!-- RabbitMQ -->
    <div class="skill">
      <img src="/assets/images/rabbitmq.png" alt="RabbitMQ">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">RabbitMQ</div>
    </div>
    <!-- Kafka -->
    <div class="skill">
      <img src="/assets/images/kafka.png" alt="Kafka">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">Kafka</div>
    </div>
    <!-- ClickHouse -->
    <div class="skill">
      <img src="/assets/images/clickhouse.png" alt="ClickHouse">
      <i class="fas fa-cogs"></i>
      <div class="skill-name">ClickHouse</div>
    </div>
  </div>
</div>
</section>
{{ end }}
